.YearManagementPage {
  padding: 16px 32px;

  .TitleSection {
    display: flex;
    align-items: center;
    justify-content: space-between;

    .Title {
      font-size: 24px;
    }
  }
}

.Form {
  max-width: 800px;
}

.SectionTitle {
  margin-left: 16px;
  font-size: 20px;
  color: var(--color-grey-700);
}

.TextField {
  width: 100%;
}

.TextField>div {
  border-radius: 0px;
}