.Form {
    padding: 16px 0;

    .TextField {
        margin-bottom: 32px;

        p {
            position: absolute;
            left: 0;
            top: 100%;
        }
    }

    .Actions {
        display: flex;
        align-items: center;
        justify-content: flex-end;
    }
}