.SchoolYearManagements {
  padding: 32px;

  .TitleSection {
    display: flex;
    align-items: center;
    justify-content: space-between;

    .Title {
      font-size: 24px;
    }
  }

  .SchoolYearsList {
    
  }
}