.StudentDashboard {
    background-color: var(--color-primary-200);
    min-height: 100%;
    padding: 24px 24px 60px;

    .Content {
        margin-top: 24px;

        .Title {
            font-size: 24px;
            color: var(--color-grey-700);
            margin-bottom: 12px;
        }

        .Left {
            .Sv5t {
                margin-top: 32px;
            }
        }

        .Right {
            padding-left: 24px;
        }
    }
}