{
    "arrow-body-style": "off",
    "bracketSpacing": true,
    "endOfLine": "auto",
    "printWidth": 140,
    "singleQuote": true,
    "trailingComma": "none",
    "tabWidth": 4,
    "useTabs": false
}
