.TableSection {
    padding: 0 32px 32px;

    .TableTitle {
        display: flex;
        align-items: center;
        justify-content: space-between;

        .Title {
            font-size: 24px;
            margin: 24px 0;
        }

        .ExportButton {
            border-radius: 0px;
            border: 2px solid #1F7244;
            color: #1F7244;
            background-color: transparent;
            
            &:hover {
                font-weight: bold;
            }

            > img {
                height: 28px;
                margin-right: 8px;
            }
        }
    }
}