.ClassManagementPage {
  .TableSection {
    padding: 32px;

    @media (max-width: 480px) {
      padding: 0;
    }

    .TableTitle {
      display: flex;
      align-items: center;
      justify-content: space-between;

      @media (max-width: 780px) {
        flex-direction: column;
        margin-bottom: 16px;
      }
  
      .Title {
        font-size: 24px;
        margin: 24px 0;
      }
  
      .TotalRecord {
        font-size: 16px;
        position: relative;
        top: 4px;
        margin-left: 48px;
      }
  
      .ExportButton {
        border-radius: 0px;
        border: 2px solid #1F7244;
        color: #1F7244;
        background-color: transparent;
        padding: 4px 16px;
        margin-right: 16px;
  
        &:hover {
          font-weight: bold;
        }
  
        >img {
          height: 28px;
          margin-right: 8px;
        }
      }

      @media (max-width: 600px) {
        .Title {
          margin: 8px 0;
        }

        .ExportButton, .TotalRecord {
          margin: 0 0 16px 0;
        }
      }
    }
  }
}