.ClassManagementPage {
  .Filters {
    background-color: var(--color-primary-200);
    width: 100%;
    height: fit-content;
    padding: 16px 32px;
    border-bottom: 2px solid var(--color-grey-400);

    @media (max-width: 960px) {
      width: 100vw;
      margin: -32px -16px 0;
    }

    .Title {
      display: inline-block;
      font-size: 24px;
      font-weight: 500;
      color: var(--color-grey-700);
      text-transform: uppercase;
    }

    .Form {
      .FormControl {
        width: 250px;
        margin-right: 16px;
      }

      @media (max-width: 600px) {
        width: 100%;

        .FormControl {
          width: 100%;
          margin: 0 0 16px;
        }

        button {
          width: 100%;
        }
      }
    }
  }

  .TableSection {
    padding: 32px;

    @media (max-width: 480px) {
      padding: 0;
    }

    .TableTitle {
      display: flex;
      align-items: center;
      justify-content: space-between;

      @media (max-width: 780px) {
        flex-direction: column;
        margin-bottom: 16px;
      }
  
      .Title {
        font-size: 24px;
        margin: 24px 0;
      }
  
      .TotalRecord {
        font-size: 16px;
        position: relative;
        top: 4px;
        margin-left: 48px;
      }
  
      .ExportButton {
        border-radius: 0px;
        border: 2px solid #1F7244;
        color: #1F7244;
        background-color: transparent;
        padding: 4px 16px;
        margin-right: 16px;
  
        &:hover {
          font-weight: bold;
        }
  
        >img {
          height: 28px;
          margin-right: 8px;
        }
      }

      @media (max-width: 600px) {
        .Title {
          margin: 8px 0;
        }

        .ExportButton, .TotalRecord {
          margin: 0 0 16px 0;
        }
      }
    }
  }
}