.BarcodeStatisticPage {
  .Filters {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    background-color: var(--color-primary-200);
    width: 100%;
    height: fit-content;
    padding: 16px 32px;

    @media (max-width: 960px) {
      margin-top: -16px;
    }

    .Title {
      display: inline-block;
      font-size: 24px;
      font-weight: 500;
      color: var(--color-grey-700);
      text-transform: uppercase;
    }

    .SearchArea {
      display: flex;
    }

    .ButtonContainer {
      display: flex;
      align-items: center;
    }
  }

  .Overview {
    padding: 16px;

    .Card {
      margin: 16px;
      color: #fff;
      overflow: hidden;
      position: relative;
      height: 185px;

      &:after {
        content: "";
        position: absolute;
        width: 210px;
        height: 210px;
        border-radius: 50%;
        top: -85px;
        right: -95px;
      }

      &:before {
        content: "";
        position: absolute;
        width: 210px;
        height: 210px;
        border-radius: 50%;
        top: -125px;
        right: -15px;
        opacity: 0.5;
      }
    }

    .PurpleCard {
      background-color: #5e35b1;

      &:before,
      &:after {
        background-color: #4527a0;
      }

      .Avatar {
        background-color: #4527a0;

        .CardIcon {
          color: #b39ddb;
        }
      }

      .subHeading {
        color: #b39ddb;
      }
    }

    .BlueCard {
      background-color: #1e88e5;

      &:before,
      &:after {
        background-color: #1565c0;
      }

      .Avatar {
        background-color: #1565c0;

        .CardIcon {
          color: #90caf9;
        }
      }

      .subHeading {
        color: #90caf9;
      }
    }

    .GreenCard {
      background-color: #198532;

      &:before,
      &:after {
        background-color: #0e691b;
      }

      .Avatar {
        background-color: #0e691b;

        .CardIcon {
          color: #a0d8aa;
        }
      }

      .subHeading {
        color: #a0d8aa;
      }
    }

    .Content {
      padding: 20px !important;

      .Avatar {
        border-radius: 8px;
        margin-top: 8px;

        .CardIcon {
          width: 32px;
          height: 32px;
        }
      }

      .Total {
        z-index: 1;
      }

      .cardHeading {
        font-size: 1.8rem;
        font-weight: 500;
        margin-right: 8px;
        margin-top: 14px;
        margin-bottom: 6px;
      }

      .subHeading {
        font-size: 1rem;
        font-weight: 500;
      }
    }

    .ColItems {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      margin: 16px;
      height: 185px;

      .SmallCard {
        overflow: hidden;
        position: relative;

        &:after {
          content: "";
          position: absolute;
          width: 210px;
          height: 210px;
          background: linear-gradient(210.04deg, #ffc107 -50.94%, rgba(144, 202, 249, 0) 83.49%);
          border-radius: 50%;
          top: -30px;
          right: -180px;
        }

        &:before {
          content: "";
          position: absolute;
          width: 210px;
          height: 210px;
          background: linear-gradient(140.9deg, #ffc107 -14.02%, rgba(144, 202, 249, 0) 70.50%);
          border-radius: 50%;
          top: -160px;
          right: -130px;
        }
      }

      .SmallContent {
        padding: 0 16px !important;

        .Avatar {
          border-radius: 8px;
          background-color: #fff8e1;

          .CardIcon {
            width: 24px;
            height: 24px;
            color: #ffc107;
          }
        }

        .Secondary {
          color: #9e9e9e;
        }

        .Padding {
          padding-top: 0;
          padding-bottom: 0;
        }
      }
    }

    @media (min-width: 600px) and (max-width: 960px) {
      padding: 16px 0;
      
      .Card, .ColItems {
        margin: 8px;
      }
    }

    @media (max-width: 600px) {
      padding: 16px 0;

      .Card, .ColItems {
        margin: 8px 0;
      }
    }
  }

  .TableSection {
    padding: 0 32px 32px;

    @media (min-width: 600px) and (max-width: 960px) {
      padding: 0 8px 8px;
    }

    @media (max-width: 600px) {
      padding: 0;
    }

    .TableTitle {
      display: flex;
      align-items: center;
      justify-content: space-between;

      .Title {
        font-size: 24px;
        margin: 24px 0;
      }

      .TotalRecord {
        font-size: 16px;
        position: relative;
        top: 4px;
        margin-left: 48px;
      }

      .ExportButton {
        border-radius: 0px;
        border: 2px solid #1F7244;
        color: #1F7244;
        background-color: transparent;

        &:hover {
          font-weight: bold;
        }

        >img {
          height: 28px;
          margin-right: 8px;
        }
      }
    }
  }
}