.Header {
    position: fixed;
    top: 0;
    left: 0;
    background-color: white;
    height: 70px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1;

    .Content {
        height: 66px;
        display: flex;
        align-items: center;
        justify-content: space-between;

        .Sections {
            display: flex;
            width: fit-content;

            li {
                list-style-type: none;
                display: inline-block;
                margin: 0 20px;

                a {
                    text-decoration: none;
                    font-size: 16px;
                    font-weight: 400;
                    color: var(--color-primary-400);
                }

                .ActiveLink {
                    font-weight: bold;
                    text-decoration: underline;
                }
            }
        }

        .MenuButton {
            display: none;
        }
    }

    .HeaderDivider {
        width: 100%;
        height: 4px;
        background-image: var(--color-gradient);
    }
}

/* Tablet & mobile */
@media (max-width: 1024px) {
    .Header {
        width: 100vw;
        .Content {

            .Sections {
                display: block;
                position: fixed;
                width: 100vw;
                margin: 0;
                padding: 0;
                top: 70px;
                left: 0;
                background-color: white;
                border: 1px solid var(--color-grey-400);

                li {
                    display: block;
                    margin: 0;
                    padding: 8px 24px;

                    a {
                        display: block;
                        width: 100%;
                    }

                    &:hover {
                        background-color: var(--color-grey-200);
                    }
                }
            }

            .ButtonsWrapper {
                display: flex;
            }

            .MenuButton {
                display: block;
                margin-right: 16px;
            }
        }
    }
}
