.LoadingWrapper {
    width: 1200px;
    padding: 24px 0;
}

.Content {
    width: 1200px;
    height: 80vh;
    overflow-y: scroll;
    padding: 24px;

    .Header {
        width: 100%;
        height: 200px;
        display: flex;

        .ImageWrapper {
            img {
                display: block;
                height: 200px;
            }
        }

        .MainInfo {
            margin-left: 24px;
            display: flex;
            flex-direction: column;
            justify-content: space-between;

            .Title {
                text-transform: uppercase;
                text-align: justify;
            }

            .PlaceAndTime {
                .Record {
                    margin-bottom: 4px;
                    color: black;
                }
            }

            .SignUp {
                .SignUpBtn {
                    width: 200px;
                    background-color: #1D9D22;

                    &:hover {
                        background-color: #1F7244;
                    }
                }

                .CancelBtn {
                    width: 200px;
                    background-color: #EC1F25;

                    &:hover {
                        background-color: #d12429;
                    }
                }
            }
        }
    }

    .Body {
        h5 {
            color: black;
            font-size: 16px;
            font-weight: bold;
        }

        .Record {
            display: flex;
            margin-top: 6px;
            color: black;

            div {
                display: inline-block;
                min-width: 300px;
            }
        }

        .Description, .Progress, .Merits {
            margin-top: 32px;
        }

        .Details {
            margin-top: 24px;
        }

        .Tags {
            display: flex;
            justify-content: flex-start;
            flex-wrap: wrap;
            margin-top: 12px;

            div {
                margin-right: 16px;
            }
        }
    }

    .Comments {
        .ShowComment {
            margin-top: 40px;
            display: flex;
            align-items: center;
            justify-content: center;

            .Wrapper {
                display: flex;
                flex-direction: column;
                width: 150px;
                height: 56px;
                align-items: center;
                justify-content: center;
                cursor: pointer;
                
                p {
                    margin: 4px 0 0;
                    font-weight: bold;
                }

                &:hover {
                    color: var(--color-primary-400);
                } 
            }
        }
    }
}

/* Mobile */
@media (max-width: 480px) {
    .LoadingWrapper {
        min-height: calc(100vh - 64px) !important;
    }

    .Content {
        padding: 16px;
        height: calc(100vh - 64px) !important;
    }

    .SignUp {
        flex-direction: column;

        .SignUpBtn, .CancelBtn {
            width: 100% !important;
        }
    }
}


/* Tablet */
@media (min-width: 480px) and (max-width: 1024px) {

}

/* Tablet & mobile */
@media (max-width: 1024px) {
    .LoadingWrapper {
        width: 100%;
        min-width: 100vw;
        min-height: calc(100vh - 94px);
    }

    .Content {
        width: 100%;
        height: calc(100vh - 94px);

        .Header {
            flex-direction: column;
            height: fit-content;

            .ImageWrapper {
                img {
                    display: block;
                    height: 100%;
                    width: 100%;
                }
            }

            .MainInfo {
                margin-left: 0;
                margin-top: 24px;

                .PlaceAndTime, .SignUp {
                    margin-top: 16px;
                }
            }
        }

        .Body {
            .Record {
                flex-direction: column;
                
                div {
                    &:nth-child(2) {
                        margin-top: 8px;
                    }
                }
            }
        }
    }
}


