.Item {
    display: flex;
    position: relative;
    width: calc(100% - 2px);
    height: 300px;
    margin-top: 60px;
    background-color: var(--color-primary-200);
    border: 1px solid var(--color-primary-200);
    box-sizing: content-box;

    .Status {
        position: absolute;
        top: 6px;
        left: 6px;
        background-color: white;
        padding: 8px 16px;
        font-weight: bold;
        color: white;
        border: 2px solid white;

        &.CheckedIn {
            background-color: var(--color-red-400);
        }

        &.Registered {
            background-color: var(--color-green-400);
        }
    }

    &:hover {
        cursor: pointer;
        border: 1px solid var(--color-primary-400);
    }

    .ImageWrapper {
        img {
            display: block;
            height: 300px;
            max-width: 450px;
        }
    }

    .ContentWrapper {
        flex: 1;
        padding: 24px;

        .Title {
            max-width: 95%;
            line-height: 24px;
            max-height: 48px;
            min-height: 48px;
            overflow: hidden;
            display: block;
            display: -webkit-box;
            -webkit-box-orient: vertical;
            -webkit-line-clamp: 2;
        }

        .Description {
            margin-top: 4px;
            max-width: 95%;
            line-height: 18px;
            max-height: 36px;
            min-height: 36px;
            overflow: hidden;
            display: block;
            display: -webkit-box;
            -webkit-box-orient: vertical;
            -webkit-line-clamp: 2;
        }

        .Tags {
            display: flex;
            justify-content: flex-start;
            flex-wrap: wrap;
            margin-top: 12px;
            max-height: 30px;
            overflow-y: hidden;

            div {
                margin-right: 16px;
            }
        }

        .Details {
            margin-top: 12px;
            .Record {
                display: flex;
                margin-top: 6px;
                color: black;

                div {
                    margin-right: 48px;
                }
            }

            .ProgressBar {
                margin-top: 8px;
            }
        }
    }
}

/* Tablet & mobile */
@media (max-width: 1024px) {
    .Item {
        flex-direction: column;
        height: fit-content;

        .ImageWrapper {
            img {
                display: block;
                height: 100%;
                width: 100%;
            }
        }

        .ContentWrapper {
            .Description {
                margin-top: 16px;
                max-width: 100%;
            }

            .Details {
                .Record {
                    flex-direction: column;

                    div {
                        margin-right: 0;
                        margin-top: 8px;

                        &:nth-child(1) {
                            margin-top: 4px;
                        }
                    }
                }
            }
        }
    }
}